<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  mapper file : 실행시킬 query를 가지고 있는 파일 -->
<mapper namespace="com.spring.mapper.AttractionMapper">

	<select id="getGugunList" parameterType="string">
		select gugun_name from gugun
		where sido_code = #{sidoCode}
	</select>

	<select id="searchByLocation" parameterType="map" resultType="AttractionDto">
		select info.content_id, info.title, info.addr1, info.zipcode, info.first_image, des.overview
		from attraction_info info
		join attraction_description des
		on info.content_id = des.content_id
	</select>
	
	<select id="searchByContent" parameterType="string" resultType="AttractionDto">
		select info.content_id, info.title, info.addr1, info.zipcode, info.first_image, des.overview
		from attraction_info info
		join attraction_description des
		on info.content_id = des.content_id
		join attraction_detail detail
		on info.content_id = detail.content_id
		where detail.cat3 like concat('%', #{content}, '%')
	</select>
	
</mapper>