@import "./base.css";

/* - 배경 #f5d7cdff
- 글자 #ffa18d */
#app {
  width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #ffa18d;
  transition: 0.1s;
}
